flows_Deepwater-PC.json
[{"id":"75e01ac2.a2ced4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"83d14193.ee02c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"441a0a55.32d1a4","type":"tab","label":"Examine XML","disabled":false,"info":""},{"id":"c22ae2c2.8a69e8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"69c1f327.7ca5ec","type":"tab","label":"watch a folder","disabled":false,"info":""},{"id":"7a836f9f.6b765","type":"tab","label":"NEST play","disabled":true,"info":""},{"id":"82131b98.c26d48","type":"tab","label":"earthquake web example","disabled":true,"info":""},{"id":"72c34273.11927c","type":"tab","label":"Flight Weather reports","disabled":true,"info":""},{"id":"3cbee175.c4028e","type":"tab","label":"Northern Lights","disabled":true,"info":""},{"id":"dbfa25b3.3e3a38","type":"tab","label":"OpenWeather","disabled":true,"info":""},{"id":"4495831c.ef288c","type":"tab","label":"Flow 6","disabled":true,"info":""},{"id":"c80e380f.f8f8b8","type":"tab","label":"MQTT examples","disabled":true,"info":""},{"id":"8b0c2e75.70452","type":"tab","label":"weather today","disabled":true,"info":""},{"id":"1adba009.971c","type":"tab","label":"File Prcessor","disabled":false,"info":""},{"id":"140a7687.bef2d9","type":"tab","label":"Visual Recognition","disabled":false,"info":""},{"id":"1a2c523f.68a0de","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"db7813f4.90ff5","type":"subflow","name":"Iterate","in":[{"x":220,"y":219,"wires":[{"id":"ab879f2c.ef847"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"ab879f2c.ef847","port":0}]},{"x":455,"y":259,"wires":[{"id":"ab879f2c.ef847","port":1}]}]},{"id":"1089b6fd.9651d9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fd9d0a08.ade748","type":"websocket-listener","z":"","path":"/activity","wholemsg":"false"},{"id":"e773bce7.1d504","type":"ui_link","z":"","name":"Link 1","link":"","icon":"open_in_browser","target":"newtab","order":1},{"id":"e5ff82ae.52a4b","type":"ui_tab","z":"","name":"node red","icon":"dashboard","order":2},{"id":"772bf2eb.d86fbc","type":"ui_group","name":"Group 1","tab":"e5ff82ae.52a4b","order":1,"disp":true,"width":6},{"id":"91cb1406.ac8f48","type":"twitter-credentials","z":"","screen_name":"@ZENAKbear"},{"id":"27daf983.4cfd76","type":"mqtt-broker","z":"","broker":"LocalHost","port":"1883","clientid":"Infominer","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Birth Message","birthQos":"0","birthPayload":"Coming Online","willTopic":"Will Message","willQos":"0","willPayload":"Going offline. "},{"id":"47bb89e4.0cc338","type":"ui_group","z":"","name":"Default","tab":"7d28b23b.16bc3c","disp":true,"width":"6"},{"id":"7d28b23b.16bc3c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"330c1e14.0b6512","type":"ui_group","z":"","name":"Default","tab":"e5ff82ae.52a4b","disp":true,"width":"20"},{"id":"11206a6d.05b6c6","type":"fs-file-lister","z":"75e01ac2.a2ced4","name":"","start":"s://iphone photos","pattern":"*","path":true,"single":false,"depth":0,"stat":false,"x":210,"y":241,"wires":[["f51ba4a7.e41508","3fdec19b.782a6e"]]},{"id":"7918af9f.b8107","type":"inject","z":"75e01ac2.a2ced4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":131,"y":97,"wires":[["11206a6d.05b6c6"]]},{"id":"3fdec19b.782a6e","type":"debug","z":"75e01ac2.a2ced4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":308,"y":548,"wires":[]},{"id":"f51ba4a7.e41508","type":"image","z":"75e01ac2.a2ced4","name":"","width":"800","x":938.5,"y":485,"wires":[]},{"id":"c46c0a3d.5264b8","type":"http in","z":"83d14193.ee02c","name":"","url":"/picture","method":"get","upload":false,"swaggerDoc":"","x":184,"y":121,"wires":[["dac2dc1f.e7b5e"]]},{"id":"9ea430c2.a1497","type":"http response","z":"83d14193.ee02c","name":"","statusCode":"","headers":{},"x":864,"y":121,"wires":[]},{"id":"6a036753.e93308","type":"template","z":"83d14193.ee02c","name":"listtemplate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    \n</head>\n<body>\n<script>\n    history.pushState(null, \"\", location.href.split(\"?\")[0]);\n</script>    \nSpot the mink:<br/> \n<ul>\n    {{#payload}}\n    <img src=\"\\pictures?file={{name}}\"></img>\n    <a href=\"\\picture?delfile={{name}}\" >Del</a>\n    <br/>\n    {{/payload}}\n</ul>\n<a href=\"\\picture?delfile=all\" >Delete all</a>\n</body>\n</html>\n","output":"str","x":704,"y":121,"wires":[["9ea430c2.a1497"]]},{"id":"dac2dc1f.e7b5e","type":"function","z":"83d14193.ee02c","name":"delfile","func":"var p= flow.get(\"pictures\");\nvar fs = global.get('fs');\n\n\nif (msg.payload.delfile){\n    var dir = '/home/pi/pi-home-surveillance/pi-home-surveillance/';\n\n    if (msg.payload.delfile === 'all'){\n        var d = fs.readdirSync(dir);\n        \n        var l = [];\n        \n        for (var i = 0; i < d.length; i++){\n            var f = d[i];\n            if (f.toLowerCase().endsWith('.jpg')){\n                var filename = dir + f;\n                try{\n                    fs.unlinkSync(filename);\n                } catch(e){\n                    \n                }\n            }\n        }\n        \n    } else {\n        var filename = dir + msg.payload.delfile;\n        try{\n            fs.unlinkSync(filename);\n        } catch(e){\n            \n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":364,"y":121,"wires":[["c09219d4.896f58"]]},{"id":"5d148234.d0464c","type":"http in","z":"83d14193.ee02c","name":"","url":"/pictures","method":"get","upload":false,"swaggerDoc":"","x":184,"y":181,"wires":[["59cf5a.a75d50a8"]]},{"id":"f9e3d513.9939c8","type":"http response","z":"83d14193.ee02c","name":"","statusCode":"200","headers":{"Content-Type":"image/jpeg"},"x":694,"y":181,"wires":[]},{"id":"59cf5a.a75d50a8","type":"function","z":"83d14193.ee02c","name":"createfilename","func":"var dir = '/home/pi/pi-home-surveillance/pi-home-surveillance/';\n\nmsg.filename = dir + msg.payload.file;\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":181,"wires":[["cef3446f.f26448"]]},{"id":"cef3446f.f26448","type":"file in","z":"83d14193.ee02c","name":"","filename":"","format":"","chunk":false,"sendError":false,"x":544,"y":181,"wires":[["f9e3d513.9939c8"]]},{"id":"c09219d4.896f58","type":"function","z":"83d14193.ee02c","name":"getfolder","func":"var dir = '/home/pi/pi-home-surveillance/pi-home-surveillance';\n\nvar fs = global.get('fs');\n\nvar d = fs.readdirSync(dir);\n\nvar l = [];\n\nfor (var i = 0; i < d.length; i++){\n    var f = d[i];\n    if (f.toLowerCase().endsWith('.jpg')){\n        l.push({name: f});\n    }\n}\n\nfunction compare(a,b) {\n  if (a.name < b.name)\n    return -1;\n  if (a.name > b.name)\n    return 1;\n  return 0;\n}\n\nl.sort(compare);\n\nmsg.payload = l;\n\nreturn msg;","outputs":1,"noerr":0,"x":514,"y":121,"wires":[["6a036753.e93308"]]},{"id":"875ac1b0.d0f8d","type":"file in","z":"441a0a55.32d1a4","name":"","filename":"t:\\stic\\test.ckl","format":"utf8","chunk":false,"sendError":true,"x":157,"y":203,"wires":[["c81343f8.67657"]]},{"id":"1f259f3e.5a41b1","type":"debug","z":"441a0a55.32d1a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":739,"y":165,"wires":[]},{"id":"c0201366.7cf4e","type":"inject","z":"441a0a55.32d1a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118,"y":82,"wires":[["875ac1b0.d0f8d"]]},{"id":"c81343f8.67657","type":"xml","z":"441a0a55.32d1a4","name":"","property":"payload","attr":"","chr":"","x":411,"y":166,"wires":[["1f259f3e.5a41b1"]]},{"id":"414ef153.b6a5f","type":"inject","z":"75e01ac2.a2ced4","name":"","topic":"","payload":"s:\\Steve1.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":446,"y":90,"wires":[["149eb140.259197","1913e31b.fae6bd"]]},{"id":"149eb140.259197","type":"file-buffer","z":"75e01ac2.a2ced4","name":"","mode":"asBuffer","x":517.5,"y":251,"wires":[["f144a5cc.ef27c"]]},{"id":"f144a5cc.ef27c","type":"base64","z":"75e01ac2.a2ced4","name":"","action":"","property":"payload","x":647.5,"y":178,"wires":[["f51ba4a7.e41508","3fdec19b.782a6e","e77c437f.3a1298"]]},{"id":"e77c437f.3a1298","type":"ui_template","z":"75e01ac2.a2ced4","group":"","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"global","x":1036,"y":180,"wires":[[]]},{"id":"1913e31b.fae6bd","type":"image-info","z":"75e01ac2.a2ced4","name":"","x":797.5,"y":66,"wires":[["3fdec19b.782a6e"]]},{"id":"8ff4dcc2.5609f8","type":"inject","z":"c22ae2c2.8a69e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1827,"y":218,"wires":[[]]},{"id":"1115593d.8b345f","type":"debug","z":"c22ae2c2.8a69e8","name":"","active":true,"console":"false","complete":"false","x":2223,"y":315,"wires":[]},{"id":"75d5bb7f.d741f4","type":"template","z":"c22ae2c2.8a69e8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n  <head>\n    <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n    <script type=\"text/javascript\">\n      google.charts.load(\"current\", {packages:[\"calendar\"]});\n      google.charts.setOnLoadCallback(drawChart);\n\n   function drawChart() {\n       var dataTable = new google.visualization.DataTable();\n       dataTable.addColumn({ type: 'date', id: 'Date' });\n       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });\n       dataTable.addRows([\n          [ new Date(2018, 01, 21),10 ],\n          [ new Date(2018, 01, 21),1 ],\n          [ new Date(2018, 01, 24),51 ],\n          [ new Date(2018, 01, 14),96 ],\n          [ new Date(2018, 03, 04),24 ],\n          [ new Date(2018, 03, 10),3 ],\n          [ new Date(2018, 03, 05),7 ],\n          [ new Date(2018, 03, 18),3 ],\n          [ new Date(2018, 03, 13),6 ],\n          [ new Date(2018, 03, 22),3 ],\n          [ new Date(2018, 03, 09),2 ],\n          [ new Date(2018, 03, 11),2 ],\n          [ new Date(2018, 03, 14),3 ],\n          [ new Date(2018, 03, 21),3 ],\n          [ new Date(2018, 03, 21),1 ],\n          [ new Date(2018, 03, 21),1 ],\n          [ new Date(2018, 03, 25),3 ],\n          [ new Date(2018, 03, 28),6 ],\n          [ new Date(2018, 03, 24),20 ],\n          [ new Date(2018, 03, 29),2 ],\n          [ new Date(2018, 01, 22),6 ],\n          [ new Date(2018, 01, 22),1 ],\n          [ new Date(2018, 03, 30),155 ],\n          [ new Date(2018, 03, 31),63 ],\n          [ new Date(2018, 03, 31),1 ],\n          [ new Date(2018, 02, 08),3 ],\n          [ new Date(2018, 02, 22),2 ],\n          [ new Date(2018, 02, 22),1 ],\n          [ new Date(2018, 02, 03),2 ],\n          [ new Date(2018, 06, 07),36 ]\n          ,[ new Date(2018, 02, 26),2 ],\n          [ new Date(2018, 06, 03),43 ],\n          [ new Date(2018, 06, 03),1]\n          ]);\n\n       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));\n\n       var options = {\n         title: \"playtime by time and activity\",\n         height: 350,\n       };\n\n       chart.draw(dataTable, options);\n   }\n    </script>\n  </head>\n  <body>\n    <div id=\"calendar_basic\" style=\"width: 1000px; height: 350px;\"></div>\n  </body>\n</html>","output":"str","x":188.5,"y":152,"wires":[[]]},{"id":"ad457203.dd8f8","type":"http in","z":"c22ae2c2.8a69e8","name":"","url":"/activity","method":"get","upload":false,"swaggerDoc":"","x":131.5,"y":69,"wires":[["4aa21512.e7ca9c"]]},{"id":"dfd1364a.5a8308","type":"http response","z":"c22ae2c2.8a69e8","name":"","statusCode":"","headers":{},"x":1084.5,"y":93,"wires":[]},{"id":"d389cb11.111168","type":"template","z":"c22ae2c2.8a69e8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n  <head>\n    <!--Load the AJAX API-->\n    <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n    <script type=\"text/javascript\">\n\n      // Load the Visualization API and the corechart package.\n      google.charts.load('current', {'packages':['corechart']});\n\n      // Set a callback to run when the Google Visualization API is loaded.\n      google.charts.setOnLoadCallback(drawChart);\n\n      // Callback that creates and populates a data table,\n      // instantiates the pie chart, passes in the data and\n      // draws it.\n      function drawChart() {\n\n        // Create the data table.\n        var data = new google.visualization.DataTable();\n        data.addColumn('string', 'Topping');\n        data.addColumn('number', 'Slices');\n        data.addRows([\n          ['Mushrooms', 3],\n          ['Onions', 1],\n          ['Olives', 1],\n          ['Zucchini', 1],\n          ['Pepperoni', 2]\n        ]);\n\n        // Set chart options\n        var options = {'title':'How Much Pizza I Ate Last Night',\n                       'width':400,\n                       'height':300};\n\n        // Instantiate and draw our chart, passing in some options.\n        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));\n        chart.draw(data, options);\n      }\n    </script>\n  </head>\n\n  <body>\n    <!--Div that will hold the pie chart-->\n    <div id=\"chart_div\"></div>\n  </body>\n</html>","output":"str","x":188,"y":198,"wires":[[]]},{"id":"4aa21512.e7ca9c","type":"fs-file-lister","z":"c22ae2c2.8a69e8","name":"","start":"S:\\Private Pictures\\","pattern":"*","path":true,"single":true,"depth":"99","stat":false,"x":419.5,"y":441,"wires":[["50fd7def.724324"]]},{"id":"26e710bf.7653e","type":"debug","z":"c22ae2c2.8a69e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1027.5,"y":221,"wires":[]},{"id":"a8f1aee.3c6a55","type":"inject","z":"c22ae2c2.8a69e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":171,"y":440,"wires":[["4aa21512.e7ca9c"]]},{"id":"50fd7def.724324","type":"function","z":"c22ae2c2.8a69e8","name":"parse array","func":"var i;\nvar text;\nvar DirPath;\nvar FileCount;\nvar year;\nvar month;\nvar day;\n\n//loads first Dirpath for comparison\nDirPath = msg.payload[0].substr(0,msg.payload[0].lastIndexOf(\"\\\\\"));\nFileCount=0\nBadCount=0\ntext=\"\";\n\nfor (i = 0; i < msg.payload.length; i++) { \n  if (DirPath == msg.payload[i].substr(0,msg.payload[i].lastIndexOf(\"\\\\\")))\n   {\n      FileCount++;\n      year = DirPath.substr(DirPath.lastIndexOf(\"\\\\\")+1).substr(0,4);\n      month = parseInt(DirPath.substr(DirPath.lastIndexOf(\"\\\\\")+1).substr(5,2),10) - 1;\n      day = DirPath.substr(DirPath.lastIndexOf(\"\\\\\")+1).substr(8,2);\n      //node.warn(year + month + day);\n      \n   }\n   else // new path found\n   {\n     //write out filecount for previous path\n        \n     //reset Filecount to 1 to account for new directory\n     // if ( isNaN(year) ) { node.warn( DirPath + BadCount++)}\n     if (year.match(/^[0-9]+$/) === null)  // make sure the year is a number\n     { BadCount++} \n     else\n        if ( month == \"NaN\") //make sure the month is a number\n        { node.warn( \"Bad Month\") }\n        else\n            if (day.match(/^[0-9]+$/) === null)  // make sure the day is a number\n            { BadCount++ }\n            else\n            {text += \"[ new Date(\" + year + \", \" + month + \", \" + day + \"),\" + FileCount + \" ],\\n\";}\n     FileCount=0;\n     //update for the new directory\n     DirPath = msg.payload[i].substr(0,msg.payload[i].lastIndexOf(\"\\\\\"));\n     node.status({fill:\"green\",shape:\"dot\",text:\"New Directory\"});\n   }\n\n}\n\n//handle comma on last line before returning string\ntext = text.substr(0,text.lastIndexOf(\",\"))\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"COMPLETE.  Bad Files: \" + BadCount});\n\n// [ new Date(2019, 4, 17), 600 ]\n\n//msg.payload = DirPath.split(\"\\\\\")\n//msg.payload = DirPath.substr(0,DirPath.lastIndexOf(\"\\\\\"))\n//msg.payload = DirPath.substr(DirPath.lastIndexOf(\"\\\\\")+1).substr(0,4);\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":653,"y":440,"wires":[["7657cd3f.e084d4","26e710bf.7653e"]]},{"id":"ab879f2c.ef847","type":"function","z":"db7813f4.90ff5","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"7657cd3f.e084d4","type":"template","z":"c22ae2c2.8a69e8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n  <head>\n    <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n    <script type=\"text/javascript\">\n      google.charts.load(\"current\", {packages:[\"calendar\"]});\n      google.charts.setOnLoadCallback(drawChart);\n\n   function drawChart() {\n       var dataTable = new google.visualization.DataTable();\n       dataTable.addColumn({ type: 'date', id: 'Date' });\n       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });\n       dataTable.addRows([\n          {{payload}}\n          ]);\n\n       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));\n\n       var options = {\n         title: \"playtime by time and activity\",\n         height: 350,\n       };\n\n       chart.draw(dataTable, options);\n   }\n    </script>\n  </head>\n  <body>\n    <div id=\"calendar_basic\" style=\"width: 1000px; height: 350px;\"></div>\n  </body>\n</html>","output":"str","x":669,"y":219,"wires":[["dfd1364a.5a8308"]]},{"id":"403cc29b.c60a7c","type":"file","z":"c22ae2c2.8a69e8","name":"","filename":"c:\\temp\\string.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1035.5,"y":157,"wires":[]},{"id":"8729443f.5dd688","type":"debug","z":"69c1f327.7ca5ec","name":"watch file","active":true,"console":"false","complete":"payload","x":500,"y":180,"wires":[]},{"id":"c10c964c.556878","type":"file","z":"69c1f327.7ca5ec","name":"","filename":"c:\\temp\\audit.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":640,"y":420,"wires":[],"inputLabels":["watch info"]},{"id":"4bddf1d6.b37ac","type":"csv","z":"69c1f327.7ca5ec","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"changeType, filePath","skip":0,"x":450,"y":360,"wires":[["c10c964c.556878"]]},{"id":"674e27a8.6f2fb8","type":"debug","z":"7a836f9f.6b765","name":"","active":true,"console":"false","complete":"payload","x":630,"y":200,"wires":[]},{"id":"8393a9e5.432008","type":"inject","z":"82131b98.c26d48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"x":110,"y":80,"wires":[["4ba6728c.03c24c"]]},{"id":"4ba6728c.03c24c","type":"http request","z":"82131b98.c26d48","name":"","method":"GET","ret":"txt","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_month.geojson","tls":"","x":130,"y":160,"wires":[["78de4562.5f15bc","6471faae.af37c4"]]},{"id":"78de4562.5f15bc","type":"json","z":"82131b98.c26d48","name":"","pretty":false,"x":310,"y":160,"wires":[["65fbd702.43c1e8"]]},{"id":"6471faae.af37c4","type":"function","z":"82131b98.c26d48","name":"Earthquake to CSV","func":"var outputMsgs = [];\n\nfor (i=0;i < msg.payload.features.length - 1; i++) {\n    var feature = msg.payload.features[i];\n    outputMsgs.push (\n        {payload:  { lat:feature.geometry.coordinates[1],\n                     lng: feature.geometry.coordinates[0],\n                     value: feature.properties.mag,\n                     message: feature.properties.place,\n                     timestamp: feature.properties.time\n                    }\n         });\n}\n\nvar msg2 = {payload: \"Second Output\"};\n\nreturn [ outputMsgs, msg2 ];","outputs":"2","noerr":0,"x":310,"y":320,"wires":[["4c45ba1d.c1fd94"],[]]},{"id":"26b34075.1330a","type":"debug","z":"82131b98.c26d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":440,"wires":[]},{"id":"4c45ba1d.c1fd94","type":"csv","z":"82131b98.c26d48","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"timestamp,lat, lng, value, message","x":510,"y":360,"wires":[["4ed16849.007d28"]]},{"id":"4ed16849.007d28","type":"file","z":"82131b98.c26d48","name":"","filename":"c:\\\\temp\\\\earthquakes.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":730,"y":360,"wires":[]},{"id":"e0a1fbc4.89af98","type":"inject","z":"7a836f9f.6b765","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99.2523193359375,"y":103.36111068725586,"wires":[["ff78b2eb.53a76"]]},{"id":"1919576f.ba0e69","type":"status","z":"7a836f9f.6b765","name":"","scope":null,"x":400,"y":280,"wires":[["674e27a8.6f2fb8"]]},{"id":"30d85d93.904362","type":"http request","z":"72c34273.11927c","name":"","method":"GET","ret":"txt","url":"https://www.aviationweather.gov/adds/dataserver_current/httpparam?dataSource=pireps&requestType=retrieve&format=xml&hoursBeforeNow=1","tls":"","x":210,"y":160,"wires":[["96ec84c.51d1378"]]},{"id":"eda9cf88.e3f96","type":"inject","z":"72c34273.11927c","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":"","x":118.24537658691406,"y":68.28009033203125,"wires":[["30d85d93.904362","d88dc028.31cef","d772b396.37dbf"]]},{"id":"64b83f74.2ecf9","type":"twitter out","z":"82131b98.c26d48","twitter":"91cb1406.ac8f48","name":"Tweet","x":710,"y":540,"wires":[]},{"id":"2486bb5c.0997a4","type":"twitter in","z":"4495831c.ef288c","twitter":"91cb1406.ac8f48","tags":"@ZENAKBEAR","user":"false","name":"Read Twitter","topic":"tweets","inputs":0,"x":103.16670989990234,"y":165.33336448669434,"wires":[["13b402d4.a3351d"]]},{"id":"5ee9f03e.4fbe1","type":"debug","z":"4495831c.ef288c","name":"","active":true,"console":"false","complete":"false","x":457.16668701171875,"y":256,"wires":[]},{"id":"13b402d4.a3351d","type":"sentiment","z":"4495831c.ef288c","name":"","x":338.5,"y":152,"wires":[["5ee9f03e.4fbe1","e68f86ff.444a88"]]},{"id":"8aaea590.5c34e8","type":"inject","z":"4495831c.ef288c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.16667938232422,"y":275.33334016799927,"wires":[[]]},{"id":"e68f86ff.444a88","type":"ui_text","z":"4495831c.ef288c","group":"772bf2eb.d86fbc","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":557.1666870117188,"y":156,"wires":[]},{"id":"8bc1fb3b.52f128","type":"debug","z":"dbfa25b3.3e3a38","name":"","active":true,"console":"false","complete":"false","x":483.1666946411133,"y":174.66667652130127,"wires":[]},{"id":"c0b15938.3c6c38","type":"inject","z":"dbfa25b3.3e3a38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":140.25000381469727,"y":298.28470945358276,"wires":[["d08e0157.0d43"]]},{"id":"6c27b24.570bf4c","type":"inject","z":"8b0c2e75.70452","name":"Weather Today","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"00 10 * * *","once":false,"x":146.01156616210938,"y":120.99999858438969,"wires":[["57dd8e90.6ddff"]]},{"id":"d658230e.b9a43","type":"function","z":"8b0c2e75.70452","name":"Process Weather Data","func":"msg.payload = \"Weather: \" + msg.payload.detail + \", Temperature: \" + msg.payload.tempc + \"°C\" + \" Wind Speed: \" + msg.payload.windspeed + \"m/s\"\nreturn msg;","outputs":1,"noerr":0,"x":561.0115661621094,"y":228.9999985843897,"wires":[["eb143877.30fc08"]]},{"id":"eb143877.30fc08","type":"debug","z":"8b0c2e75.70452","name":"","active":true,"console":"false","complete":"payload","x":775.2477111816406,"y":263.5231628417969,"wires":[]},{"id":"e5110db0.d4ff9","type":"inject","z":"c80e380f.f8f8b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98.24537658691406,"y":152.28472900390625,"wires":[["b447c89d.f5e0b8"]]},{"id":"1f83ac23.edba04","type":"catch","z":"c80e380f.f8f8b8","name":"","scope":null,"x":517.2546691894531,"y":51.266204833984375,"wires":[["b447c89d.f5e0b8"]]},{"id":"b447c89d.f5e0b8","type":"debug","z":"c80e380f.f8f8b8","name":"","active":true,"console":"false","complete":"false","x":659.2523498535156,"y":177.36573791503906,"wires":[]},{"id":"65fbd702.43c1e8","type":"function","z":"82131b98.c26d48","name":"Extract Earth Quake Mapping","func":"var outputMsgs = [];\n\nfor (i=0;i < msg.payload.features.length - 1; i++) {\n    var feature = msg.payload.features[i];\n    var d = new Date(feature.properties.time);\n    outputMsgs.push (\n        {payload:  { name: feature.properties.place,\n                     lat:feature.geometry.coordinates[1],\n                     lon: feature.geometry.coordinates[0],\n                     magnitude: feature.properties.mag,\n                     //icon: \"earthquake\",\n                     iconColor: \"#FFA500\",\n                     //radius: 50,\n                     message: feature.properties.place,\n                     weblink: feature.properties.url,\n                     //timestamp: feature.properties.time\n                     timestamp: d\n                    }\n         });\n}\n\nvar msg2 = {payload: \"Second Output\"};\n\nreturn [ outputMsgs, msg2 ];","outputs":"2","noerr":0,"x":530,"y":160,"wires":[["26b34075.1330a","b255edef.67525"],[]]},{"id":"4938a93d.e4b788","type":"http request","z":"82131b98.c26d48","name":"","method":"GET","ret":"txt","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.geojson","tls":"","x":290,"y":540,"wires":[[]]},{"id":"96ec84c.51d1378","type":"xml","z":"72c34273.11927c","name":"","property":"payload","attr":"","chr":"","x":390,"y":160,"wires":[["8627d78d.5d05c8","efead15f.2f42f"]]},{"id":"8627d78d.5d05c8","type":"function","z":"72c34273.11927c","name":"Decode Pilot Reports (Yellow)","func":"var outputMsgs = [];\n\nvar Dataset = msg.payload.response.data_source[0].$.name;\nvar planes = msg.payload.response.data[0].$.num_results\nvar msg1 = {payload: { name: Dataset,\n                       num:  planes}\n           };\n\n\nfor (i=0;i < planes - 1; i++) {\n    var feature = msg.payload.response.data[0].PIREP[i];\n//    var d = new Date(feature.properties.time);\n    outputMsgs.push (\n        {payload:  { name: feature.aircraft_ref[0],\n                     lat:  feature.latitude[0],\n                     lon:  feature.longitude[0],\n                     receipt_time: feature.receipt_time[0],\n                     observation_time: feature.observation_time[0],\n                     //altitude_ft_msl:  parseInt(feature.altitude_ft_msl[0]),\n                     //temp_c: feature.temp_c[0],\n                     pirep_type:  feature.pirep_type[0],\n                     icon: \"plane\",\n                     //alt:  feature.altitude_ft_msl[0]\n//                     magnitude: feature.properties.mag,\n//                     //icon: \"earthquake\",\n                     iconColor: \"#FFFF00\"\n//                     //radius: 50,\n//                     message: feature.properties.place,\n//                     weblink: feature.properties.url,\n//                     //timestamp: feature.properties.time\n//                     timestamp: d\n                    }\n         });\n}\n\nvar msg2 = {payload: \"Second Output\"};\n\nreturn [ outputMsgs, msg2 ];","outputs":"2","noerr":0,"x":610,"y":140,"wires":[["b27a266a.462848"],[]]},{"id":"ee9b44c3.b59db8","type":"inject","z":"3cbee175.c4028e","name":"","topic":"","payload":"","repeat":"","crontab":"*/30 * * * *","once":false,"x":130,"y":120,"wires":[["cefe4f4c.b6d27"]]},{"id":"cefe4f4c.b6d27","type":"http request","z":"3cbee175.c4028e","name":"","method":"GET","url":"http://www.swpc.noaa.gov/wingkp/wingkp_list.txt","tls":"","x":254.99999141693115,"y":176,"wires":[["f9f7c72a.c17e68"]]},{"id":"a2540504.bfe908","type":"debug","z":"3cbee175.c4028e","name":"","active":true,"complete":"false","x":641.0000371932983,"y":120.99999237060547,"wires":[]},{"id":"f9f7c72a.c17e68","type":"function","z":"3cbee175.c4028e","name":"parse NOAA kp log","func":"var lat = 51.05;\n\n// first output is the current kp value\n// second is whether it is likely to be visible from your latitude\n// ( on a clear night etc etc )\n\nvar lines = msg.payload.split(\"\\n\");\nvar last = lines[lines.length - 2];\nlast = last.replace(/\\s{2,}/g, ' ');\nvar bits = last.split(\" \");\nvar status = Number(bits[4]);\nvar kp = Number(bits[bits.length - 1]);\n\nvar visible = false;\nvar edge = 3;\nif (lat >= 60) edge = 3;\nelse edge = (60-lat)/2 + 3;\n\nif (kp > edge) visible = true;\nif (lat < 45) visible = false;\n\nmsg = { payload:kp };\nmsg2 = { payload:visible };\n\nif (status <= 1) return [msg,msg2];\nreturn null;","outputs":"2","x":415.0000104904175,"y":119.99999237060547,"wires":[["a2540504.bfe908"],["696ce573.bc24ac"]]},{"id":"290982e6.2bd0be","type":"comment","z":"3cbee175.c4028e","name":"Idea shamelessly copied from http://blog.riyas.org/2014/01/raspberry-pi-as-northern-light-forcast.html?m=1","info":"","x":401.9999876022339,"y":77.99997806549072,"wires":[]},{"id":"696ce573.bc24ac","type":"debug","z":"3cbee175.c4028e","name":"","active":true,"complete":"false","x":643.0000371932983,"y":164.99998569488525,"wires":[]},{"id":"efead15f.2f42f","type":"debug","z":"72c34273.11927c","name":"","active":true,"console":"false","complete":"false","x":750,"y":500,"wires":[]},{"id":"7ef2ae47.45fc7","type":"delay","z":"72c34273.11927c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":630,"y":440,"wires":[["efead15f.2f42f"]]},{"id":"d88dc028.31cef","type":"http request","z":"72c34273.11927c","name":"","method":"GET","ret":"txt","url":"https://www.aviationweather.gov/adds/dataserver_current/httpparam?dataSource=airsigmets&requestType=retrieve&format=xml&hoursBeforeNow=4&minLon=-61&minLat=25&maxLon=-170&maxLat=71","tls":"","x":210,"y":300,"wires":[["1d3e4577.65b1db"]]},{"id":"1d3e4577.65b1db","type":"xml","z":"72c34273.11927c","name":"","property":"payload","attr":"","chr":"","x":390,"y":300,"wires":[["72d8196f.6525b8"]]},{"id":"72d8196f.6525b8","type":"function","z":"72c34273.11927c","name":"Decode AIRSIGMETS (Blue)","func":"var outputMsgs = [];\n\nvar Dataset = msg.payload.response.data_source[0].$.name;\nvar arraynum = parseInt(msg.payload.response.data[0].$.num_results);\nvar msg1 = {payload: { name: Dataset,\n                       num:  arraynum}\n           };\n\n\nfor (i=0;i < arraynum - 1; i++) {\n    var feature = msg.payload.response.data[0].AIRSIGMET[i];\n//    var d = new Date(feature.properties.time);\n    outputMsgs.push (\n        {payload:  { \n                     name: i,    //name:  feature.valid_time_from[0],\n                     lon:  feature.area[0].point[0].longitude[0],\n                     lat:  feature.area[0].point[0].latitude[0],\n                     raw_text: feature.raw_text[0]\n//                   receipt_time: feature.receipt_time[0],\n//                     observation_time: feature.observation_time[0],\n//                     //altitude_ft_msl:  parseInt(feature.altitude_ft_msl[0]),\n//                     //temp_c: feature.temp_c[0],\n//                     pirep_type:  feature.pirep_type[0],\n//                     icon: \"plane\",\n//                     //alt:  feature.altitude_ft_msl[0]\n//                     magnitude: feature.properties.mag,\n//                     //icon: \"earthquake\",\n//                     iconColor: \"0000#FF\"\n//                     //radius: 50,\n//                     message: feature.properties.place,\n//                     weblink: feature.properties.url,\n//                     //timestamp: feature.properties.time\n//                     timestamp: d\n                    }\n         });\n}\n\nvar msg2 = {payload: \"Second Output\"};\n\nreturn [outputMsgs, msg1 ];","outputs":"2","noerr":0,"x":500,"y":380,"wires":[[],[]]},{"id":"87b713d1.1b393","type":"http request","z":"72c34273.11927c","name":"","method":"GET","ret":"txt","url":"https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat","tls":"","x":270,"y":640,"wires":[["bca51e93.d8385"]]},{"id":"bca51e93.d8385","type":"csv","z":"72c34273.11927c","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":430,"y":640,"wires":[["d8f032a0.d4145","c4852868.429f58","efead15f.2f42f"]]},{"id":"4c23dcef.177434","type":"inject","z":"72c34273.11927c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":540,"wires":[["87b713d1.1b393"]]},{"id":"c4852868.429f58","type":"function","z":"72c34273.11927c","name":"Decode AIRports (red)","func":"var outputMsgs = [];\n\n\nvar msg1 = {payload: { name: msg.payload.col2,\n                       lat:  msg.payload.col7,\n                       lon:  msg.payload.col8     \n                      }\n           };\n\n\nvar msg2 = {payload: \"Second Output\"};\n\nreturn [msg1, msg2 ];","outputs":"2","noerr":0,"x":520,"y":544,"wires":[["b27a266a.462848","7ef2ae47.45fc7"],[]]},{"id":"d8f032a0.d4145","type":"file","z":"72c34273.11927c","name":"","filename":"c:\\temp\\airport.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":650,"y":640,"wires":[]},{"id":"d772b396.37dbf","type":"file in","z":"72c34273.11927c","name":"","filename":"c:\\temp\\airport.csv","format":"lines","chunk":false,"sendError":false,"x":170,"y":440,"wires":[["b27a266a.462848"]]},{"id":"9b1d8529.a2ea48","type":"inject","z":"1adba009.971c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["87b82647.528028"]]},{"id":"da846f2d.fc7a9","type":"image","z":"1adba009.971c","name":"","width":"900","x":520,"y":160,"wires":[]},{"id":"2dd4c4d9.6c477c","type":"image-info","z":"1adba009.971c","name":"","x":328,"y":673,"wires":[["fde2ae1e.38d21"]]},{"id":"8901acfd.19f7a","type":"file in","z":"1adba009.971c","name":"","filename":"","format":"","chunk":false,"sendError":false,"x":230,"y":240,"wires":[["da846f2d.fc7a9","2dd4c4d9.6c477c","abca7d93.ec2f9"]]},{"id":"87b82647.528028","type":"fs-file-lister","z":"1adba009.971c","name":"","start":"s:\\iphone photos\\test","pattern":"*.*","path":true,"single":true,"depth":"1","stat":true,"x":100,"y":381,"wires":[["9390e137.1a833"]]},{"id":"231f185c.2a0c18","type":"change","z":"1adba009.971c","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":600,"wires":[["8901acfd.19f7a"]]},{"id":"5af5743.0ac6a8c","type":"exec","z":"69c1f327.7ca5ec","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec","x":220,"y":440,"wires":[[],[],[]]},{"id":"3dfdc837.5d2b18","type":"image-info","z":"69c1f327.7ca5ec","name":"Untitled Theme 1","x":280,"y":380,"wires":[[]]},{"id":"fdebc18b.7499f","type":"image","z":"69c1f327.7ca5ec","name":"","width":200,"x":570,"y":260,"wires":[]},{"id":"7f23e57e.ebf5fc","type":"ui_text","z":"69c1f327.7ca5ec","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":360,"wires":[]},{"id":"d92eb4b7.f473b8","type":"change","z":"140a7687.bef2d9","name":"Extract image URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":202,"wires":[["76956e69.f0b85","e12b73b3.42e6a"]]},{"id":"5b3bf7fb.12ae08","type":"switch","z":"140a7687.bef2d9","name":"Check image url","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":281,"y":40,"wires":[["3f494724.660d38"],["d92eb4b7.f473b8"]]},{"id":"f5a04cef.74fd2","type":"http in","z":"140a7687.bef2d9","name":"","url":"/people","method":"get","upload":false,"swaggerDoc":"","x":91,"y":40,"wires":[["5b3bf7fb.12ae08"]]},{"id":"3f494724.660d38","type":"template","z":"140a7687.bef2d9","name":"Prompt images","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Visual Recognition v3 with Watson</h1>\n<H2>Recognize anyone?</H2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80\" height='200'/>\n    <img src=\"http://www.awaken.com/wp-content/uploads/2015/05/forbes.jpg\" height='200'/>\n    <img src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/LinuxCon_Europe_Linus_Torvalds_03.jpg/220px-LinuxCon_Europe_Linus_Torvalds_03.jpg\" height='200'/>\n    <img src=\"http://smashinghub.com/wp-content/uploads/2012/01/nb5.jpg\" height='200'/>\n        <br/>Right-click one of the above images and select Copy image location and paste the URL in the box below.<br>Do an image search for faces, try multiple faces. After you click on an image, to the right it usually says \"View image\" click that to get the URL.<br/>\n    <br>Image URL: <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>","x":540,"y":40,"wires":[["b79c8ec5.f73de"]]},{"id":"ea02ce41.ed3f1","type":"template","z":"140a7687.bef2d9","name":"Report faces via HTML template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Visual Recognition v3 with Watson</h1>\n    <p>Analyzed image: {{result.images.0.resolved_url}}<br/><img id=\"image\" src=\"{{result.images.0.resolved_url}}\" height=\"200\"/></p>\n    {{^result}}\n        <P>No Face detected</P>\n    {{/result}}\n    <p>Images Processed: {{result.images_processed}}</p>\n    <table border='1'>\n        <thead><tr><th>Age Range</th><th>Confidence</th><th>Gender</th><th>Confidence</th></tr></thead>\n        {{#result.images.0.faces}}<tr>\n            <td><b>{{age.min}} - {{age.max}}</b></td><td><i>{{age.score}}</i></td>\n            <td>{{gender.gender}}</td><td>{{gender.score}}</td>\n            </tr>{{/result.images.0.faces}}\n    </table>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <br><input type=\"submit\" value=\"Try again or go back to the home page\"/>\n    </form>","x":586,"y":140,"wires":[["b79c8ec5.f73de"]]},{"id":"b79c8ec5.f73de","type":"http response","z":"140a7687.bef2d9","name":"","statusCode":"","headers":{},"x":885,"y":40,"wires":[]},{"id":"b0c92bda.fdc248","type":"debug","z":"140a7687.bef2d9","name":"Print msg.result.images","active":true,"console":"false","complete":"result.images","x":570,"y":440,"wires":[]},{"id":"88704d1e.c366b","type":"template","z":"140a7687.bef2d9","name":"Print result via a template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"// Template functions can access the json array via this .0. notation.\n// See the Watson Visual Recognition v3 API Documentation at\n// https://watson-api-explorer.mybluemix.net/apis/visual-recognition-v3#!/visual-recognition/get_v3_detect_faces\n\nFirst face in result is a {{result.images.0.faces.0.gender.gender}} !","x":570,"y":240,"wires":[["e12b73b3.42e6a"]]},{"id":"e12b73b3.42e6a","type":"debug","z":"140a7687.bef2d9","name":"","active":false,"console":"false","complete":"payload","x":910,"y":240,"wires":[]},{"id":"1d5c88e8.f1a917","type":"function","z":"140a7687.bef2d9","name":"Is this a Celebrity","func":"// A function to determine if this image contains a celebrity.\n// Functions can access the msg.result via array indexes\n// Watson Visual Recognition v3 API Documentation is post here:\n// https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/visual-recognition/api/v3/?node#detect_faces\nvar i=0;\nvar Celebrity=0;\nvar CelebrityName=\"No one famous detected\";\n\n// There might be multiple faces in this image.\n// Loop through the faces and determine if Watson has\n// detected the identity of at least one celebrity.\nwhile ( msg.result.images[0].faces[i] ) {\n    if (msg.result.images[0].faces[i].identity !== null) {\n        Celebrity=1;\n        CelebrityName=msg.result.images[0].faces[i].identity.name;\n    }\n    i++;\n}\n\nmsg.payload = CelebrityName;\n// if a Celebrity was found, send the Name to output 1\n// else send the default \"No one famous detected\" to output 2\nif (Celebrity == 1) {\n        return [ msg, null ];\n} else {\n    return [ null, msg ];\n}\n","outputs":"2","noerr":0,"x":550,"y":340,"wires":[["b65008e2.70fb98"],["da1f464c.f76708"]]},{"id":"da1f464c.f76708","type":"debug","z":"140a7687.bef2d9","name":"","active":false,"console":"false","complete":"payload","x":910,"y":360,"wires":[]},{"id":"b65008e2.70fb98","type":"template","z":"140a7687.bef2d9","name":"Paparazzi","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This image contains a celebrity: {{payload}} !","x":750,"y":300,"wires":[["da1f464c.f76708"]]},{"id":"56b23676.a3eb68","type":"comment","z":"140a7687.bef2d9","name":"Step #1 - Create a Visual Recognition Service","info":"1. Log into your Bluemix account\n2. Navigate to the Bluemix Catalog\n3. Scroll to the Watson Services section\n4. Find and click on the Visual Recognition service\n5. Create an unbounded Visual Recognition instance\n6. Open the new service and navigate to the Service Credentials\n7. Copy the api_key to the clipboard\n8. Open the above \"visual recognition v3\" node and paste your new API Key","x":210,"y":400,"wires":[]},{"id":"abca7d93.ec2f9","type":"exif","z":"1adba009.971c","name":"","x":470,"y":100,"wires":[["ba8e36cf.e80928","dcb7879c.0ad108","c15ddac2.774878"]]},{"id":"ba8e36cf.e80928","type":"debug","z":"1adba009.971c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"exif ","x":777,"y":63,"wires":[]},{"id":"dcb7879c.0ad108","type":"debug","z":"1adba009.971c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"location","x":770,"y":100,"wires":[]},{"id":"28cc629e.c2f55e","type":"inject","z":"1a2c523f.68a0de","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":180,"wires":[["2fcd3bb8.3d7bc4"]]},{"id":"2fcd3bb8.3d7bc4","type":"exec","z":"1a2c523f.68a0de","command":"raspistill","addpay":false,"append":"-w 320 -h 240 -o -","useSpawn":"false","timer":"","oldrc":false,"name":"","x":360,"y":180,"wires":[["b94d602e.84ca4"],[],[]]},{"id":"e5e6d1c5.e92ff","type":"template","z":"1a2c523f.68a0de","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":650,"y":180,"wires":[["4bb4ed03.f30fc4"]]},{"id":"4bb4ed03.f30fc4","type":"ui_template","z":"1a2c523f.68a0de","group":"47bb89e4.0cc338","name":"","order":0,"width":"6","height":"5","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":180,"wires":[[]]},{"id":"b94d602e.84ca4","type":"base64","z":"1a2c523f.68a0de","name":"","action":"str","property":"payload","x":520,"y":180,"wires":[["e5e6d1c5.e92ff"]]},{"id":"fde2ae1e.38d21","type":"base64","z":"1adba009.971c","name":"","action":"str","property":"payload","x":320,"y":740,"wires":[["408f3e09.01156","8ed84010.011a1"]]},{"id":"408f3e09.01156","type":"template","z":"1adba009.971c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"{{width}}\" height=\"{{height}}\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":110,"y":980,"wires":[["b6c8d6c.f71b228"]]},{"id":"b6c8d6c.f71b228","type":"ui_template","z":"1adba009.971c","group":"330c1e14.0b6512","name":"","order":0,"width":"0","height":"0","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":300,"y":980,"wires":[[]]},{"id":"fad83362.7c73b","type":"ui_button","z":"1adba009.971c","name":"","group":"330c1e14.0b6512","order":0,"width":0,"height":0,"passthru":false,"label":"read files","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":75,"y":129,"wires":[["87b82647.528028"]]},{"id":"f21fdc07.6415f","type":"debug","z":"1adba009.971c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1182,"y":147,"wires":[]},{"id":"9390e137.1a833","type":"function","z":"1adba009.971c","name":"Store Array","func":"var local = context.get('Namearray') || {};\nvar index = context.get('count') || 0;\n\nif (msg.payload == '+')\n    { index += 1;\n      msg.payload = local[index].name;\n      msg.filename = local[index].name;\n    }\nelse\n    { \n        if (msg.payload == '-')\n        \n        {\n           index -= 1;\n           msg.payload = local[index].name;\n           msg.filename = local[index].name;\n        \n        }\n        else\n        {\n           local = msg.payload;\n           msg.payload = local[0].name;\n           msg.filename = local[0].name;\n        }\n    }\ncontext.set('Namearray',local);\ncontext.set('count', index);\nreturn msg;","outputs":3,"noerr":0,"x":219,"y":476,"wires":[["8901acfd.19f7a"],[],[]]},{"id":"b87375b4.407d48","type":"inject","z":"1adba009.971c","name":"","topic":"","payload":"-","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["9390e137.1a833"]]},{"id":"ba044b24.1590a8","type":"ui_button","z":"1adba009.971c","name":"","group":"330c1e14.0b6512","order":0,"width":0,"height":0,"passthru":false,"label":"+","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+","payloadType":"str","topic":"","x":64,"y":164,"wires":[["9390e137.1a833"]]},{"id":"a4d2f524.b29768","type":"ui_button","z":"1adba009.971c","name":"","group":"330c1e14.0b6512","order":0,"width":0,"height":0,"passthru":false,"label":"-","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+","payloadType":"str","topic":"","x":65,"y":199,"wires":[["9390e137.1a833"]]},{"id":"19e5c590.658aea","type":"inject","z":"1adba009.971c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1122,"y":44,"wires":[["7a88e7c5.4941b8"]]},{"id":"1494dfe9.d88d5","type":"wiotp out","z":"140a7687.bef2d9","authType":"d","qs":"true","qsDeviceId":"","deviceType":"","deviceId":"","event":"","format":"json","qos":"","name":"","x":380,"y":559,"wires":[]},{"id":"76956e69.f0b85","type":"visual-recognition-v3","z":"140a7687.bef2d9","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":260,"y":300,"wires":[["ea02ce41.ed3f1","b0c92bda.fdc248","88704d1e.c366b"]]},{"id":"7a88e7c5.4941b8","type":"visual-recognition-util-v3","z":"1adba009.971c","name":"","vr-service-endpoint":"https://gateway-a.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifiersList","x":1189,"y":100,"wires":[["f21fdc07.6415f"]]},{"id":"b255edef.67525","type":"worldmap","z":"82131b98.c26d48","name":"","lat":"","lon":"","zoom":"2","layer":"Nat Geo","cluster":"","maxage":"300","usermenu":"show","layers":"show","panit":"false","x":790,"y":60,"wires":[]},{"id":"b27a266a.462848","type":"worldmap","z":"72c34273.11927c","name":"","lat":"","lon":"","zoom":"2","layer":"Nat Geo","cluster":"","maxage":"90","usermenu":"show","layers":"show","panit":"false","x":790,"y":40,"wires":[]},{"id":"e0f09e96.886f2","type":"worldmap in","z":"82131b98.c26d48","name":"earthquakes","x":90,"y":540,"wires":[[]]},{"id":"602e9b67.451f34","type":"wfwatch","z":"69c1f327.7ca5ec","folder":"C:\\\\watched","x":90,"y":260,"wires":[["8729443f.5dd688","4bddf1d6.b37ac","7f23e57e.ebf5fc"]]},{"id":"ff78b2eb.53a76","type":"nest request","z":"7a836f9f.6b765","account":"bbb8966c.529418","devicetype":"thermostats","deviceid":"f3181ba5-81f7-4726-94be-4898d8b2840a","streaming":"true","name":"","x":290,"y":100,"wires":[["674e27a8.6f2fb8"]]},{"id":"fc62a0c8.ac906","type":"nest status","z":"7a836f9f.6b765","account":"bbb8966c.529418","structure_id":"Tanana Loop","away":"home","name":"","x":150,"y":200,"wires":[[]]},{"id":"8d92682d.efb368","type":"temp","z":"7a836f9f.6b765","account":"bbb8966c.529418","target":"","scale":"","name":"","x":140,"y":260,"wires":[[]]},{"id":"d08e0157.0d43","type":"openweathermap","z":"dbfa25b3.3e3a38","name":"5 day forcast","wtype":"forecast","lon":"-145.7322","lat":"64.0378","city":"","country":"","language":"en","x":330.16666412353516,"y":298.9999780654907,"wires":[["8bc1fb3b.52f128"]]},{"id":"57dd8e90.6ddff","type":"openweathermap","z":"8b0c2e75.70452","name":"","wtype":"current","lon":"-145.7322","lat":"64.0378","city":"","country":"","language":"en","x":362.0115661621094,"y":170.9999985843897,"wires":[["d658230e.b9a43"]]},{"id":"f0212f38.10539","type":"openweathermap in","z":"dbfa25b3.3e3a38","name":"","wtype":"current","lon":"-145.7322","lat":"64.0378","city":"","country":"","language":"en","x":141.16668701171875,"y":174,"wires":[["8bc1fb3b.52f128"]]},{"id":"8ed84010.011a1","type":"debug","z":"1adba009.971c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"height","x":516,"y":938,"wires":[]},{"id":"c15ddac2.774878","type":"change","z":"1adba009.971c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"exif.image.Model","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":908,"y":153,"wires":[["f21fdc07.6415f"]]}]