flows_Deepwater-PC.json
[{"id":"75e01ac2.a2ced4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"83d14193.ee02c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"441a0a55.32d1a4","type":"tab","label":"Examine XML","disabled":false,"info":""},{"id":"c22ae2c2.8a69e8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"db7813f4.90ff5","type":"subflow","name":"Iterate","in":[{"x":220,"y":219,"wires":[{"id":"ab879f2c.ef847"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"ab879f2c.ef847","port":0}]},{"x":455,"y":259,"wires":[{"id":"ab879f2c.ef847","port":1}]}]},{"id":"1089b6fd.9651d9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fd9d0a08.ade748","type":"websocket-listener","z":"","path":"/activity","wholemsg":"false"},{"id":"11206a6d.05b6c6","type":"fs-file-lister","z":"75e01ac2.a2ced4","name":"","start":"s://iphone photos","pattern":"*","path":true,"single":false,"depth":0,"stat":false,"x":210,"y":241,"wires":[["f51ba4a7.e41508","3fdec19b.782a6e"]]},{"id":"7918af9f.b8107","type":"inject","z":"75e01ac2.a2ced4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":131,"y":97,"wires":[["11206a6d.05b6c6"]]},{"id":"3fdec19b.782a6e","type":"debug","z":"75e01ac2.a2ced4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":308,"y":548,"wires":[]},{"id":"f51ba4a7.e41508","type":"image","z":"75e01ac2.a2ced4","name":"","width":"800","x":1199.5,"y":765,"wires":[]},{"id":"c46c0a3d.5264b8","type":"http in","z":"83d14193.ee02c","name":"","url":"/picture","method":"get","upload":false,"swaggerDoc":"","x":184,"y":121,"wires":[["dac2dc1f.e7b5e"]]},{"id":"9ea430c2.a1497","type":"http response","z":"83d14193.ee02c","name":"","statusCode":"","headers":{},"x":864,"y":121,"wires":[]},{"id":"6a036753.e93308","type":"template","z":"83d14193.ee02c","name":"listtemplate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    \n</head>\n<body>\n<script>\n    history.pushState(null, \"\", location.href.split(\"?\")[0]);\n</script>    \nSpot the mink:<br/> \n<ul>\n    {{#payload}}\n    <img src=\"\\pictures?file={{name}}\"></img>\n    <a href=\"\\picture?delfile={{name}}\" >Del</a>\n    <br/>\n    {{/payload}}\n</ul>\n<a href=\"\\picture?delfile=all\" >Delete all</a>\n</body>\n</html>\n","output":"str","x":704,"y":121,"wires":[["9ea430c2.a1497"]]},{"id":"dac2dc1f.e7b5e","type":"function","z":"83d14193.ee02c","name":"delfile","func":"var p= flow.get(\"pictures\");\nvar fs = global.get('fs');\n\n\nif (msg.payload.delfile){\n    var dir = '/home/pi/pi-home-surveillance/pi-home-surveillance/';\n\n    if (msg.payload.delfile === 'all'){\n        var d = fs.readdirSync(dir);\n        \n        var l = [];\n        \n        for (var i = 0; i < d.length; i++){\n            var f = d[i];\n            if (f.toLowerCase().endsWith('.jpg')){\n                var filename = dir + f;\n                try{\n                    fs.unlinkSync(filename);\n                } catch(e){\n                    \n                }\n            }\n        }\n        \n    } else {\n        var filename = dir + msg.payload.delfile;\n        try{\n            fs.unlinkSync(filename);\n        } catch(e){\n            \n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":364,"y":121,"wires":[["c09219d4.896f58"]]},{"id":"5d148234.d0464c","type":"http in","z":"83d14193.ee02c","name":"","url":"/pictures","method":"get","upload":false,"swaggerDoc":"","x":184,"y":181,"wires":[["59cf5a.a75d50a8"]]},{"id":"f9e3d513.9939c8","type":"http response","z":"83d14193.ee02c","name":"","statusCode":"200","headers":{"Content-Type":"image/jpeg"},"x":694,"y":181,"wires":[]},{"id":"59cf5a.a75d50a8","type":"function","z":"83d14193.ee02c","name":"createfilename","func":"var dir = '/home/pi/pi-home-surveillance/pi-home-surveillance/';\n\nmsg.filename = dir + msg.payload.file;\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":181,"wires":[["cef3446f.f26448"]]},{"id":"cef3446f.f26448","type":"file in","z":"83d14193.ee02c","name":"","filename":"","format":"","chunk":false,"sendError":false,"x":544,"y":181,"wires":[["f9e3d513.9939c8"]]},{"id":"c09219d4.896f58","type":"function","z":"83d14193.ee02c","name":"getfolder","func":"var dir = '/home/pi/pi-home-surveillance/pi-home-surveillance';\n\nvar fs = global.get('fs');\n\nvar d = fs.readdirSync(dir);\n\nvar l = [];\n\nfor (var i = 0; i < d.length; i++){\n    var f = d[i];\n    if (f.toLowerCase().endsWith('.jpg')){\n        l.push({name: f});\n    }\n}\n\nfunction compare(a,b) {\n  if (a.name < b.name)\n    return -1;\n  if (a.name > b.name)\n    return 1;\n  return 0;\n}\n\nl.sort(compare);\n\nmsg.payload = l;\n\nreturn msg;","outputs":1,"noerr":0,"x":514,"y":121,"wires":[["6a036753.e93308"]]},{"id":"875ac1b0.d0f8d","type":"file in","z":"441a0a55.32d1a4","name":"","filename":"t:\\stic\\test.ckl","format":"utf8","chunk":false,"sendError":true,"x":157,"y":203,"wires":[["c81343f8.67657"]]},{"id":"1f259f3e.5a41b1","type":"debug","z":"441a0a55.32d1a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":739,"y":165,"wires":[]},{"id":"c0201366.7cf4e","type":"inject","z":"441a0a55.32d1a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118,"y":82,"wires":[["875ac1b0.d0f8d"]]},{"id":"c81343f8.67657","type":"xml","z":"441a0a55.32d1a4","name":"","property":"payload","attr":"","chr":"","x":411,"y":166,"wires":[["1f259f3e.5a41b1"]]},{"id":"414ef153.b6a5f","type":"inject","z":"75e01ac2.a2ced4","name":"","topic":"","payload":"s:\\Steve1.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":446,"y":90,"wires":[["149eb140.259197","1913e31b.fae6bd"]]},{"id":"149eb140.259197","type":"file-buffer","z":"75e01ac2.a2ced4","name":"","mode":"asBuffer","x":517.5,"y":251,"wires":[["f144a5cc.ef27c"]]},{"id":"f144a5cc.ef27c","type":"base64","z":"75e01ac2.a2ced4","name":"","action":"","property":"payload","x":647.5,"y":178,"wires":[["f51ba4a7.e41508","3fdec19b.782a6e","e77c437f.3a1298"]]},{"id":"e77c437f.3a1298","type":"ui_template","z":"75e01ac2.a2ced4","group":"","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"global","x":1036,"y":180,"wires":[[]]},{"id":"1913e31b.fae6bd","type":"image-info","z":"75e01ac2.a2ced4","name":"","x":797.5,"y":66,"wires":[["3fdec19b.782a6e"]]},{"id":"8ff4dcc2.5609f8","type":"inject","z":"c22ae2c2.8a69e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1827,"y":218,"wires":[[]]},{"id":"1115593d.8b345f","type":"debug","z":"c22ae2c2.8a69e8","name":"","active":true,"console":"false","complete":"false","x":2223,"y":315,"wires":[]},{"id":"75d5bb7f.d741f4","type":"template","z":"c22ae2c2.8a69e8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n  <head>\n    <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n    <script type=\"text/javascript\">\n      google.charts.load(\"current\", {packages:[\"calendar\"]});\n      google.charts.setOnLoadCallback(drawChart);\n\n   function drawChart() {\n       var dataTable = new google.visualization.DataTable();\n       dataTable.addColumn({ type: 'date', id: 'Date' });\n       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });\n       dataTable.addRows([\n          [ new Date(2018, 01, 21),10 ],\n          [ new Date(2018, 01, 21),1 ],\n          [ new Date(2018, 01, 24),51 ],\n          [ new Date(2018, 01, 14),96 ],\n          [ new Date(2018, 03, 04),24 ],\n          [ new Date(2018, 03, 10),3 ],\n          [ new Date(2018, 03, 05),7 ],\n          [ new Date(2018, 03, 18),3 ],\n          [ new Date(2018, 03, 13),6 ],\n          [ new Date(2018, 03, 22),3 ],\n          [ new Date(2018, 03, 09),2 ],\n          [ new Date(2018, 03, 11),2 ],\n          [ new Date(2018, 03, 14),3 ],\n          [ new Date(2018, 03, 21),3 ],\n          [ new Date(2018, 03, 21),1 ],\n          [ new Date(2018, 03, 21),1 ],\n          [ new Date(2018, 03, 25),3 ],\n          [ new Date(2018, 03, 28),6 ],\n          [ new Date(2018, 03, 24),20 ],\n          [ new Date(2018, 03, 29),2 ],\n          [ new Date(2018, 01, 22),6 ],\n          [ new Date(2018, 01, 22),1 ],\n          [ new Date(2018, 03, 30),155 ],\n          [ new Date(2018, 03, 31),63 ],\n          [ new Date(2018, 03, 31),1 ],\n          [ new Date(2018, 02, 08),3 ],\n          [ new Date(2018, 02, 22),2 ],\n          [ new Date(2018, 02, 22),1 ],\n          [ new Date(2018, 02, 03),2 ],\n          [ new Date(2018, 06, 07),36 ]\n          ,[ new Date(2018, 02, 26),2 ],\n          [ new Date(2018, 06, 03),43 ],\n          [ new Date(2018, 06, 03),1]\n          ]);\n\n       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));\n\n       var options = {\n         title: \"playtime by time and activity\",\n         height: 350,\n       };\n\n       chart.draw(dataTable, options);\n   }\n    </script>\n  </head>\n  <body>\n    <div id=\"calendar_basic\" style=\"width: 1000px; height: 350px;\"></div>\n  </body>\n</html>","output":"str","x":188.5,"y":152,"wires":[[]]},{"id":"ad457203.dd8f8","type":"http in","z":"c22ae2c2.8a69e8","name":"","url":"/activity","method":"get","upload":false,"swaggerDoc":"","x":131.5,"y":69,"wires":[["4aa21512.e7ca9c"]]},{"id":"dfd1364a.5a8308","type":"http response","z":"c22ae2c2.8a69e8","name":"","statusCode":"","headers":{},"x":1084.5,"y":93,"wires":[]},{"id":"d389cb11.111168","type":"template","z":"c22ae2c2.8a69e8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n  <head>\n    <!--Load the AJAX API-->\n    <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n    <script type=\"text/javascript\">\n\n      // Load the Visualization API and the corechart package.\n      google.charts.load('current', {'packages':['corechart']});\n\n      // Set a callback to run when the Google Visualization API is loaded.\n      google.charts.setOnLoadCallback(drawChart);\n\n      // Callback that creates and populates a data table,\n      // instantiates the pie chart, passes in the data and\n      // draws it.\n      function drawChart() {\n\n        // Create the data table.\n        var data = new google.visualization.DataTable();\n        data.addColumn('string', 'Topping');\n        data.addColumn('number', 'Slices');\n        data.addRows([\n          ['Mushrooms', 3],\n          ['Onions', 1],\n          ['Olives', 1],\n          ['Zucchini', 1],\n          ['Pepperoni', 2]\n        ]);\n\n        // Set chart options\n        var options = {'title':'How Much Pizza I Ate Last Night',\n                       'width':400,\n                       'height':300};\n\n        // Instantiate and draw our chart, passing in some options.\n        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));\n        chart.draw(data, options);\n      }\n    </script>\n  </head>\n\n  <body>\n    <!--Div that will hold the pie chart-->\n    <div id=\"chart_div\"></div>\n  </body>\n</html>","output":"str","x":188,"y":198,"wires":[[]]},{"id":"4aa21512.e7ca9c","type":"fs-file-lister","z":"c22ae2c2.8a69e8","name":"","start":"S:\\Private Pictures\\2018","pattern":"*","path":true,"single":true,"depth":"99","stat":false,"x":419.5,"y":441,"wires":[["50fd7def.724324"]]},{"id":"26e710bf.7653e","type":"debug","z":"c22ae2c2.8a69e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1027.5,"y":221,"wires":[]},{"id":"a8f1aee.3c6a55","type":"inject","z":"c22ae2c2.8a69e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":171,"y":440,"wires":[["4aa21512.e7ca9c"]]},{"id":"50fd7def.724324","type":"function","z":"c22ae2c2.8a69e8","name":"parse array","func":"var i;\nvar text;\nvar DirPath;\nvar FileCount;\n\n\n//loads first Dirpath for comparison\nDirPath = msg.payload[0].substr(0,msg.payload[0].lastIndexOf(\"\\\\\"));\nFileCount=0\ntext=\"\";\n\nfor (i = 0; i < msg.payload.length; i++) { \n  if (DirPath == msg.payload[i].substr(0,msg.payload[i].lastIndexOf(\"\\\\\")))\n   {\n      FileCount++\n      year = DirPath.substr(DirPath.lastIndexOf(\"\\\\\")+1).substr(0,4);\n      month = parseInt(DirPath.substr(DirPath.lastIndexOf(\"\\\\\")+1).substr(5,2),10) - 1;\n      day = DirPath.substr(DirPath.lastIndexOf(\"\\\\\")+1).substr(8,2);\n   }\n   else // new path found\n   {\n     //write out filecount\n     text += \"[ new Date(\" + year + \", \" + month + \", \" + day + \"),\" + FileCount + \" ],\\n\";\n     //reset Filecount to 1 to account for new directory\n     FileCount=1;\n     //update for the new directory\n     DirPath = msg.payload[i].substr(0,msg.payload[i].lastIndexOf(\"\\\\\"));\n   }\n\n}\n\n//handle comma on last line before returning string\ntext = text.substr(0,text.lastIndexOf(\",\"))\n\n// [ new Date(2019, 4, 17), 600 ]\n\n//msg.payload = DirPath.split(\"\\\\\")\n//msg.payload = DirPath.substr(0,DirPath.lastIndexOf(\"\\\\\"))\n//msg.payload = DirPath.substr(DirPath.lastIndexOf(\"\\\\\")+1).substr(0,4);\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":653,"y":440,"wires":[["7657cd3f.e084d4"]]},{"id":"ab879f2c.ef847","type":"function","z":"db7813f4.90ff5","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"7657cd3f.e084d4","type":"template","z":"c22ae2c2.8a69e8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n  <head>\n    <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n    <script type=\"text/javascript\">\n      google.charts.load(\"current\", {packages:[\"calendar\"]});\n      google.charts.setOnLoadCallback(drawChart);\n\n   function drawChart() {\n       var dataTable = new google.visualization.DataTable();\n       dataTable.addColumn({ type: 'date', id: 'Date' });\n       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });\n       dataTable.addRows([\n          {{payload}}\n          ]);\n\n       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));\n\n       var options = {\n         title: \"playtime by time and activity\",\n         height: 350,\n       };\n\n       chart.draw(dataTable, options);\n   }\n    </script>\n  </head>\n  <body>\n    <div id=\"calendar_basic\" style=\"width: 1000px; height: 350px;\"></div>\n  </body>\n</html>","output":"str","x":669,"y":219,"wires":[["26e710bf.7653e","dfd1364a.5a8308"]]},{"id":"403cc29b.c60a7c","type":"file","z":"c22ae2c2.8a69e8","name":"","filename":"c:\\temp\\string.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1035.5,"y":157,"wires":[]}]